APP_NAME=
APP_ENV=
APP_PORT=

FRONTEND_URL=http://localhost:5173

DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=shef
DATABASE_SSLMODE=disable

JWT_SECRET=

UPLOAD_DIR=./storage/uploads
MAX_UPLOAD_SIZE=10485760